<p>Привіт {{ name }},</p>
<p>Для вас було створено акаунт у клініці. Будь ласка використайте тимчасовий пароль щоб підтвердити реєстрацію</p>
<p>
<h3>Ваш тимчасовий пароль: <h1> {{ password }} </h1></h3>
</p>